html
    head
        link(href='/stylesheets/bootstrap-3.3.7.min.css' rel='stylesheet')
        link(href='/stylesheets/chat.css' rel='stylesheet')
        script(src='/javascripts/jquery-3.3.1.min.js')
        script(src='/javascripts/bootstrap-3.3.7.min.js')
        link(rel='icon' href='/images/favicon.ico')
        script(type="text/javascript" src="/javascripts/moment.min.js")
        script(type="text/javascript" src="/javascripts/daterangepicker.js")
        link(rel="stylesheet" type="text/css" href="/stylesheets/daterangepicker.css")
        script(src="/javascripts/jquery.modal.min.js")
        link(rel="stylesheet" href="/stylesheets/jquery.modal.min.css")
    body
        div.container
            div.navbar-header
                a.navbar-brand PEAR
            div#navbar.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a.notification(href="#") #[span.badge] #[span.glyphicon.glyphicon-user] #{firstName} #{lastName}
                    li
                        a(href="sign_out") Sign Out
                    li
                        a#help(href="#help_content") Help