extends layout

block content
	main.login-form
		div.cotainer
			div(class='row justify-content-center')
				div.col-md-8
					div.card
						div.card-header Error
						div.card-body
							div.error-message
								p= message
								button#back(class='btn btn-primary btn-sm') Back

	script.
		$('button#back').on('click', function(e) {
			e.preventDefault();
			window.history.back();
		});
