extend header
block content
    .job-search-wrap
        .categories
            span CATEGORIES
            button.btn.btn-outline-secondary(id='all-butt') All
            button.btn.btn-outline-secondary(id='soft-butt') Software
            button.btn.btn-outline-secondary(id='design-butt') Design
            button.btn.btn-outline-secondary(id='business-butt') Business
            button.btn.btn-outline-secondary(id='science-butt') Science
            button.btn.btn-outline-secondary(id='other-butt') Other
        br
        br 
        .search-bar
            .search
                input.search-input(type='text', placeholder='Search by keywords')
            .location-filter
                select.select-input
                    // –– will need to use db to fill here ––
                    option(disabled='', selected='', value='') Location
                    option(value='volvo') Volvo
                    option(value='saab') Saab
                    option(value='opel') Opel
                    option(value='audi') Audi
            .type-filter
                select.select-input
                    // –– will need to use db to fill here ––
                    option(disabled='', selected='', value='') Job Type
                    option(value='volvo') Volvo
                    option(value='saab') Saab
                    option(value='opel') Opel
                    option(value='audi') Audi
        br
        br
        .job-cards
            .job-box
                h1 Project name
                p Waterloo, ON
                span(style='padding-left: 40px;') by &nbsp;
                span(style='color: #879017; text-transform: uppercase;') <b> spirit of life </b>
                p Lorem ipsum dolor sit amet, eu cetero scriptorem pri. Eu pericula comprehensam vis. Duo debet accusam explicari ex. Conceptam argumentum ne vis, pri vide augue nonumy at.
                .decor-strip
                p(style='padding-top:15px; color: grey; float:left; margin-right:5px;') Looking for:
                .looking-for
                    button.btn.btn-outline-secondary(id='soft-butt') Software
                    button.btn.btn-outline-secondary(id='design-butt') Design
            .job-box
                h1 Project name
                p Toronto, ON
                span(style='padding-left: 40px;') by &nbsp;
                span(style='color: #879017; text-transform: uppercase;') <b> ngo charity </b>
                p Lorem ipsum dolor sit amet, eu cetero scriptorem pri. Eu pericula comprehensam vis. Duo debet accusam explicari ex. Conceptam argumentum ne vis, pri vide augue nonumy at.
                .decor-strip
                p(style='padding-top:15px; color: grey; float:left; margin-right:5px;') Looking for:
                .looking-for
                    button.btn.btn-outline-secondary(id='business-butt') Business
            .job-box
                h1 Project name
                p Toronto, ON
                span(style='padding-left: 40px;') by &nbsp;
                span(style='color: #879017; text-transform: uppercase;') <b> autism ontario </b>
                p Lorem ipsum dolor sit amet, eu cetero scriptorem pri. Eu pericula comprehensam vis. Duo debet accusam explicari ex. Conceptam argumentum ne vis, pri vide augue nonumy at.
                .decor-strip
                p(style='padding-top:15px; color: grey; float:left; margin-right:5px;') Looking for:
                .looking-for
                    button.btn.btn-outline-secondary(id='business-butt') Business
            .job-box
                h1 Project name
                p Waterloo, ON
                span(style='padding-left: 40px;') by &nbsp;
                span(style='color: #879017; text-transform: uppercase;') <b> ngo charity </b>
                p Lorem ipsum dolor sit amet, eu cetero scriptorem pri. Eu pericula comprehensam vis. Duo debet accusam explicari ex. Conceptam argumentum ne vis, pri vide augue nonumy at.
                .decor-strip
                p(style='padding-top:15px; color: grey; float:left; margin-right:5px;') Looking for:
                .looking-for
                    button.btn.btn-outline-secondary(id='soft-butt') Software
                    button.btn.btn-outline-secondary(id='design-butt') Design
        .job-rows
            span Result for: All

            table
                tbody
                    tr.header
                        th.project.text-center.align-middle Project
                            .v-divide
                        th.charity
                            .v-divide
                        th.num_pears
                            .v-divide
                        th.num_pos
                            .v-divide
                        th.num_app
            .job-row

    script.
        $('button').on('click', function(){
            let colour = $(this).css( "border-color" );
            $('button').removeClass('active_button');
            $('button').css('color', 'white');
            $(this).addClass('active_button');
            $(this).css('color', colour);
        });
        //Home button active on page load
        $(document).ready(function(){
            console.log(99)
            let colour = $('#all-butt').css( "background-color" );
            $('#all-butt').addClass('active_button');
            $('#all-butt').css('color', colour);
        });
    