extend header
block content
    .categories
        span CATEGORIES
        button.btn.btn-outline-secondary(id='all-butt')
        button.btn.btn-outline-secondary(id='soft-butt')
        button.btn.btn-outline-secondary(id='design-butt')
        button.btn.btn-outline-secondary(id='business-butt')
        button.btn.btn-outline-secondary(id='science-butt')
        button.btn.btn-outline-secondary(id='other-butt')