html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(href='/stylesheets/layout.css' rel='stylesheet')
		link(rel='dns-prefetch' href='https://fonts.gstatic.com')
		link(href='https://fonts.googleapis.com/css?family=Raleway:300,400,600' rel='stylesheet' type='text/css')
		link(href='/stylesheets/bootstrap-4.3.1.min.css' rel='stylesheet' id='bootstrap-css')
		link(rel='icon' href='/images/favicon.ico')
		script(src='/javascripts/jquery-3.3.1.min.js')
		script(src='/javascripts/bootstrap-4.3.1.min.js')
		link(rel='stylesheet' href='/stylesheets/login.css')
		link(rel='stylesheet' href='/stylesheets/sticky-footer-navbar.css')
	body.d-flex.flex-column.h-100

		nav
			div.container
				a.navbar-brand(href='/')
					//img(src='/images/cgi-logo.png')
					span PEAR

				div.collapse.navbar-collapse
					ul(class='navbar-nav ml-auto')
						//li.nav-item
							//a.nav-link(href='/help') Help
		div.pear-name
		br
		br
		div.sign-in-butt
	block content

	footer.footer.mt-auto.py-3
		div.container
			p.footer-des PEAR
			p.footer-ver Currently v1.0.0.