.pear-name {
    background: url(../images/pear-name.png) no-repeat;
    background-size:100%;
    width:500px;
    height:150px;
    margin:0 auto;

}

.sign-in-butt {
    background: url(../images/button.png) no-repeat;
    background-size:cover;
    width:200px;
    height:60px;
    margin:0 auto;
}

border: 3px solid #73AD21;